<section id="recruteur">
    <div>
        <h3>Fiche recruteur</h3>
        <p>Société : </p>
        <p>NOM : </p>
        <p>PRENOM : </p>
        <p>Fonction : </p>
        <p>Email : </p>
        <p>Profil linkedin : </p>
        <p>Téléphone : </p>
    </div>
</section>